version: "3.8"

services:
  postgres:
    image: postgres:16-alpine
    container_name: pw_airport_postgres
    environment:
      POSTGRES_DB: Airport
      POSTGRES_USER: airport
      POSTGRES_PASSWORD: airport
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./docker/initdb:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}"]
      interval: 10s
      timeout: 5s
      retries: 5

  metabase:
    image: metabase/metabase:latest
    container_name: pw_airport_metabase
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      MB_DB_TYPE: postgres
      MB_DB_DBNAME: metabase
      MB_DB_PORT: 5432
      MB_DB_USER: metabase
      MB_DB_PASS: metabase
      MB_DB_HOST: postgres
    ports:
      - "3000:3000"
    restart: unless-stopped
    volumes:
      - metabase-data:/metabase-data

volumes:
  postgres-data:
  metabase-data:
